*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.section-padding{
padding: 100px 0;
}
.carousel-item{
    height: 95vh;
    min-height: 300px;
}
.carousel-caption{
    z-index: 2;
}
.carousel-caption h5{
    font-size: 30px;
}
 .navbar-nav a{
    font-size: 15px;
 }
 .card-body i{
    font-size: 36px;
 }
  
 .portfolio .card{
    box-shadow: 15px 15px 40px rgba(0,0, 0, 0.15);
 }
 .team .card{
    box-shadow: 15px 15px 40px rgba(0,0, 0, 0.15);
 }
 

  